header{
  text-align: center;
  font-family: 'Bungee Spice', cursive;
  font-size: 50px;

}

nav{
 text-align: center;
 
}



nav a{
  border: 2px solid orangered;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 30px;
  color:orangered;
  font-family: 'Michroma', sans-serif;
  
}

nav a:hover{
  background-color: lightcoral;
}

img{
  width: 100%;
  
}

article{

  font-family:  'Alfa Slab One', cursive;
  text-align: center;

}

footer{
text-align: center;


}

footer a{
  color: orangered;
}

.iletisim{

  font-size: 40px;
}

li{
  list-style: none;
}

.yazilim{
  text-align: center;
  font-family: 'Michroma', sans-serif;
  font-size: 50px;
  color: orangered;

}



