header{
  text-align: center;
  font-family: 'Bungee Spice', cursive;
  font-size: 50px;
  

}

nav{
 text-align: center;
 
 
 
 
}



nav a{
  border: 2px solid orangered;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 30px;
  color:orangered;
  font-family: 'Michroma', sans-serif;
  box-shadow: 10px 5px 3px gray;
  
}

nav a:hover{
  background-color: orangered;
  color: gray;
}

.sag{
  position: relative;
  left: 20px;
}

img{
  width: 100%;
  
}

article{

  font-family:  'Alfa Slab One', cursive;
  text-align: center;

}

footer{
text-align: center;
border: 1px solid black;
border-radius: 30px;


}

footer a{
  color: orangered;
  
}

footer:hover{
  background-color: gray;
}

.iletisim{

  font-size: 40px;
}

.a{
  position: relative;
  right: 5px;
}

.b{
  position: relative;
  left: 5px;
}

.c{
  position: relative;
  left: 10px;
}

li{
  list-style: none;
}

.yazilim{
  text-align: center;
  font-family: 'Michroma', sans-serif;
  font-size: 50px;
  color: orangered;

}



